body{
    width:100vw;
    height: 100vh;
    overflow:hidden;
    margin:0px;
}

.background{
    background-color: black;
    width:100%;
    height: 100%;
    position: relative;
}

.game_object{
    position: absolute;
    width:5%;
    height:5%;
    display: inline-block;
    background-color:transparent;
    margin:0px;
}

.game_object img{
    width:100%;
    height:auto;
}